---
import { getCollection } from "astro:content";
import BaseHtml from "../layouts/BaseHtml.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";

const newsletterEntries = await getCollection(
  "newsletter",
  ({ data, id }) => data.draft === false && id.includes("index")
);
---

<BaseHtml title="Sollers Developers Newsletter">
  <Navbar />
  <div class="canvas mx-auto flex grow flex-col gap-8 bg-slate-700">
    <div class="px-8 pt-8">
      <h1 class="text-4xl font-semibold">Archive</h1>
      <h2 class="text-2xl font-semibold">
        Here you can find all past editions
      </h2>
    </div>
    <div class="grow px-8">
      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
        {
          newsletterEntries.map((monthNewsletter) => (
            <Card {...monthNewsletter} />
          ))
        }
      </div>
    </div>
    <Footer />
  </div>
</BaseHtml>

<style lang="scss">
  .canvas {
    width: 1200px;
  }

  @media (max-width: 1200px) {
    .canvas {
      width: 100%;
    }
  }
</style>
