---
import BaseHtml from "../layouts/BaseHtml.astro";
import Avatar from "../components/Avatar.astro";
import Footer from "../components/Footer.astro";
---

<BaseHtml title="Sollers Developers Newsletter">
  <div class="canvas mx-auto flex grow flex-col gap-8 bg-zinc-700">
    <div class="flex flex-col items-center bg-zinc-600 py-8">
      <h1 class="text-4xl font-semibold">Welcome to the...</h1>
      <div class="retro-mono-font flex flex-col p-8 text-5xl text-lime-500">
        <p>Developers'</p>
        <p>Newsletter</p>
      </div>
      <p class="text-center">
        Your monthly information about news and learning materials for:
      </p>
      <div class="flex gap-4">
        <b>Java</b>
        <b>.Net</b>
        <b>Frontends</b>
        <p>...and more!</p>
      </div>
    </div>
    <div class="flex flex-col items-center gap-8 px-8">
      <div class="flex max-w-xl flex-col text-lg">
        <p class="text-justify text-lg italic">
          "We want to create a continuous opportunity for Sollers Developers to
          grow in the tech competences."
        </p>
        <div class="text-right text-sm">
          <p>Artur Goździkowski, Karol Górski, Marcin Fiorek</p>
          <p>Technical Areas' Owners</p>
        </div>
      </div>
      <div class="mx-auto flex gap-8">
        <Avatar
          src="./images/Artur_Goździkowski.jpg"
          alt="Artur Goździkowski"
          position="top"
        />
        <Avatar
          src="./images/Karol_Górski.png"
          alt="Karol Górski"
          position="top"
        />
        <Avatar
          src="./images/Marcin_Fiorek.jpg"
          alt="Marcin Fiorek"
          position="center"
        />
      </div>
    </div>
    <div class="flex flex-col items-center px-8">
      <h2 class="mb-2 text-2xl">What we want to share once per month?</h2>
      <ul>
        <li class="list-disc">News for our technologies</li>
        <li class="list-disc">Learning Materials</li>
        <li class="list-disc">Some useful facts</li>
        <li class="list-disc">What's in Sollers?</li>
        <li class="list-disc">Upcoming Events</li>
        <li class="list-disc">Software Developer self-development corner!</li>
      </ul>
    </div>
    <div class="mx-auto flex max-w-xl grow flex-col gap-8 text-justify text-lg">
      <p></p>
      <p>
        If you want to <b>co-create this newsletter</b> or have any <b
          >feedback or ideas</b
        >, don't hesitate to contact us! Help us to grow to meet your
        expectations!
      </p>
    </div>
    <Footer />
  </div>
</BaseHtml>

<style lang="scss">
  @import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
  .retro-mono-font {
    font-family: "Press Start 2P", cursive;
  }

  .canvas {
    width: 1200px;
  }

  @media (max-width: 1200px) {
    .canvas {
      width: 100%;
    }
  }
</style>
