---
import Avatar from "./Avatar.astro";
---

<div class="flex flex-col items-center gap-8 py-12">
  <div class="flex max-w-xl flex-col text-lg">
    <p class="text-justify text-lg italic">
      "We want to create a continuous opportunity for Sollers Developers to grow
      in the tech competences."
    </p>
    <div class="flex flex-col items-end text-right text-sm">
      <span>Artur Goździkowski, Karol Górski, Marcin Fiorek</span>
      <span>Technical Areas' Owners</span>
    </div>
  </div>
  <div class="mx-auto flex gap-8">
    <Avatar
      src="./images/Artur_Goździkowski.jpg"
      alt="Artur Goździkowski"
      position="top"
    />
    <Avatar src="./images/Karol_Górski.png" alt="Karol Górski" position="top" />
    <Avatar
      src="./images/Marcin_Fiorek.jpg"
      alt="Marcin Fiorek"
      position="center"
    />
  </div>
</div>
