---
import NavbarLink from "./NavbarLink.astro";
---

<nav
  class="sticky top-0 flex w-full items-center justify-between bg-slate-900 p-4 text-xl text-slate-300"
>
  <a href="/" class="retro-mono-font flex flex-col text-sm text-lime-500">
    <span>Developers'</span>
    <span>Newsletter</span>
  </a>
  <div class="flex items-center gap-2">
    <NavbarLink href="/" text="Home" />
    <NavbarLink href="/archive" text="Archive" />
  </div>
</nav>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
  .retro-mono-font {
    font-family: "Press Start 2P", cursive;
  }
</style>
